.unnamed1 {
	font-family: "新細明體";
	font-size: 12px;
	color: #333333;
}
.unnamed2 {
	font-family: "新細明體";
	font-size: 12px;
	line-height: 20px;
	color: #663300;
}
.unnamed3 {
	font-family: "新細明體";
	font-size: 12px;
	line-height: 30px;
	color: #333333;
}
.unnamed4 {
	font-family: "新細明體";
	font-size: 12px;
	line-height: 20px;
	color: #003366;
}
.unnamed5 {
	font-family: "新細明體";
	font-size: 12px;
	line-height: 20px;
	color: #660000;
}
.unnamed6 {
	font-family: "新細明體";
	font-size: 12px;
	color: #FFFFFF;
}
.unnamed7 {
	font-family: "新細明體";
	font-size: 13px;
	color: #663300;
	font-style: normal;
}
.unnamed8 {
	font-family: "新細明體";
	font-size: 13px;
	color: #1B3601;
}
.unnamed9 {
	font-family: "新細明體";
	font-size: 12px;
	color: #003366;
	font-style: normal;
}
